// Colors
$base-background-color: #27282C;
$base-color: #fff;
$base-font-size: 14px;
$base-line-height: 20px;
$base-link-color: #fff;
$base-link-hover-color: #19191C;
$ktl-color-white-light: rgba(255, 255, 255, 0.75);
$ktl-color-white: #fff;
$ktl-transition-fast: 300ms;
$ktl-transition-xfast: 100ms;
$ktl-header-height-mobile: 48px;
$ktl-header-height-desktop: 64px;
$ktl-z-header: 906;
$ktl-z-menu: 905;